@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #090914;
		--background: #f8f7fd;
		--primary: #312dd6;
		--secondary: #8987f3;
		--accent: #514dfc;
	}

	.dark {
		--text: #eaeaf6;
		--background: #030208;
		--primary: #2c29d1;
		--secondary: #0e0c79;
		--accent: #0603b0;
	}
}