---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import MainDrawer from "./MainDrawer";
---

<header>
  <nav>
    <h2>
      <img src="/fav.svg" alt="icon" width="36" />
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links max-lg:hidden">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <MainDrawer client:load/>
    <!-- <div class="max-lg:hidden">
      <ThemeBtn client:load/>
    </div> -->
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
    display: flex;
    gap: 2;
    align-items: center;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
