---
import Main from "@/layouts/Main.astro";
---

<Main title="Subjects" description="Notes for each subject made my Notes on Nerd">
    <h1 class="text-4xl">Subjects</h1>
    <ul>
        <li>Math</li>
        <li>Physics</li>
        <li>Biology</li>
        <li>Chemistry</li>
    </ul>
</Main>